* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
}

a {
	color: #4F4F4F;
	text-decoration: underline;
}

header {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background: #DBD9CE;
	color: #4F4F4F;
	text-shadow: 0px 1px 1px white;
	border-bottom: 1px #AFAFAF solid;
}
header img {
	float: left;
	margin: 4px 10px 0 10px;
}

ul {
	margin:0;
	padding:0;
	width: 100%;
}
ul li {
	padding: 10px 0 10px 10px;
	border-bottom: 1px #EBEBEB solid;
	cursor: pointer;
	list-style: none;
	white-space: normal;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 5px;
	width: 100%;
}

#wrapper {
	overflow-x: hidden;
}

#margin_container {
	width: 1000%;
	position: relative;
	white-space: nowrap;
}

#margin_container > div {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	width: 360px;
	display: inline-block;
	visibility: hidden;
	float: left;
	margin-bottom: 40px;
	word-wrap: break-word;
}

#main_page {
	visibility: visible !important;
}

#back_button {
	float: right;
	display: inline-block;
	background: url(../images/arrow_left.png) no-repeat center left;
	width: 85px;
	height: 100%;
	text-align: right;
	padding-right: 10px;
	cursor: pointer;
	display: none;
}

/**
 * line runner
 */
.line_runner {
	background: #979797;
	height: 10px;
	border-radius: 10px;
	position: relative;
}
.line_runner .runner_button {
	position: absolute;
	width: 30px;
	height: 30px;
	background: white;
	border: 1px #AFAFAF solid;
	border-radius: 20px;
	margin-top: -10px;
	text-align: center;
	line-height: 30px;
}

.runner_container {
	height: 30px;
	width: 80%;
	margin: 20px 10% 0 10%;
	padding-top: 15px;
}
/**
 * popup_box
 */
.popup_box {
	cursor: pointer;
}
.popup_box span.red {
	float: right;
	color: red;
	margin-right: 10px;
	padding-right: 40px;
	background: url(../images/arrow_bottom.png) no-repeat center right;
}

#popup_box_wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,.5);
	display: table-cell;
	vertical-align: middle;
	z-index: 100;
	display: none;
}

#popup_box_contaier {
	width: 250px;
	height: 300px;
	margin: 0 auto;
	background: white;
	margin-top: 45%;
	border:1px #4F4F4F solid;
	border-radius: 10px;
	overflow: hidden;
}

#popup_box_contaier h1 {
	margin:0;
	padding:7px;
	font-size: 16px;
	background: #DBD9CE;
	color: #4F4F4F;
	text-shadow: 0px 1px 1px white;
	border-bottom: 1px #AFAFAF solid;
}

/**
 * 
 */


#chapter p {
	margin: 5px 5px 0px 5px;
	white-space: normal;
}
#chapter span {
	color: red;
	font-size: 16px;
}